# .htaccess generated at github user-agent-blacklist
RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} "baiduspider|360spider|haosouspider|sosospider|sogou spider|sogou news spider|sogou web spider|sogou inst spider|sogou spider2|sogou blog|sogou orion spider|yodaobot|youdaobot|yisouspider|googlebot|mediapartners-google|adsbot-google|bingbot|teoma|ia_archiver|twiceler|msnbot|scrubby|robozilla|gigabot|yahoo-mmcrawler|yahoo-blogs|yahoo! slurp china|yahoo!-adcrawler|psbot|easouspider|jikespider|etaospider|glutenfreepleasure" [NC]
RewriteRule .* - [R=404,L]